<?xml version="1.0" encoding="utf-8" ?>
<WebConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ParamConfigList>
    <ParamConfig  Id="1" CommInfo="Param Config 1">
      <ParamInfo Num="1">
        <Info Index="1">
          <Name>Info Index 1-1-1</Name>
        </Info>
        <Info Index="2">
          <Name>Info Index 1-1-2</Name>
        </Info>
      </ParamInfo>
      <ParamInfo Num="2">
        <Info Index="1">
          <Name>Info Index 1-2-1</Name>
        </Info>
        <Info Index="2">
          <Name>Info Index 1-2-2</Name>
        </Info>
      </ParamInfo>
    </ParamConfig>

    <ParamConfig  Id="2" CommInfo="Param Config 2">
      <ParamInfo Num="1">
        <Info Index="1">
          <Name>Info Index 2-1-1</Name>
        </Info>
        <Info Index="2">
          <Name>Info Index 2-1-2</Name>
        </Info>
      </ParamInfo>
      <ParamInfo Num="2">
        <Info Index="1">
          <Name>Info Index 2-2-1</Name>
        </Info>
        <Info Index="2">
          <Name>Info Index 2-2-2</Name>
        </Info>
      </ParamInfo>
    </ParamConfig>
    
  </ParamConfigList>
  <!--
   Set  Values
  -->
  <settings>
    <setting name="Set1" value="Set1"></setting>
    <setting name="Set2" value="Set2"></setting>
  </settings>
  
  <PageSize>10</PageSize>
  <CategoryID>2</CategoryID>
</WebConfig>